/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus-visible {
  outline: 0.125rem solid var(--desaturated-red);
}
img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button {
  font: inherit;
}
:root {
  /* Color */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  /* Gradients */
  --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  /* Font */
  --font-family: "Josefin Sans", sans-serif;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-40: 2.5rem;
  --fs-64: 4rem;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
}
body {
  background: var(--gradient-1);
  font-family: var(--font-family);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  color: var(--desaturated-red);
  display: grid;
  grid-auto-rows: max-content;
  justify-content: center;
  min-height: 100vh;
}
header {
  padding: 2rem;
}
.picture {
  width: 100%;
  height: 100%;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main {
  margin-top: 4rem;
  padding: 0 2rem 2rem;
  max-width: 24rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.title {
  font-size: var(--fs-40);
  font-weight: var(--fw-600);
  line-height: 2.625rem;
  letter-spacing: 0.6769rem;
  text-transform: uppercase;
  color: var(--dark-grayish-red);
}
.title--red {
  font-weight: var(--fw-300);
  color: var(--desaturated-red);
}
.description {
  font-size: var(--fs-14);
  line-height: 1.375rem;
}
.form {
  width: 100%;
}
.sr-only:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.form__wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1.5rem auto;
  gap: 0.5rem;
  border-radius: 1.75rem;
  border: 1px solid var(--desaturated-red);
}
.form__input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 1.25rem;
  min-width: 0;
}
.form__input::placeholder {
  color: var(--desaturated-red);
}
.error-icon {
  width: 1.5rem;
  height: 1.5rem;
  justify-self: center;
  align-self: center;
  visibility: hidden;
}
.form__submit {
  width: 4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-2);
  border: none;
  border-radius: 1.75rem;
}
.form__submit img {
  width: 0.75rem;
  height: 1.25rem;
}
.form__submit:hover {
  cursor: pointer;
  background-image: linear-gradient(90deg, #f6d2d2, #f8bfbf);
}
.error-msg {
  font-size: var(--fs-13);
  color: var(--soft-red);
  text-align: left;
  margin-top: 0.5rem;
  padding-left: 1rem;
  display: none;
}
.attribution {
  margin-top: 2rem;
  font-size: var(--fs-14);
  text-align: center;
}
.attribution a {
  color: var(--dark-grayish-red);
}
@media (min-width: 64rem) {
  body {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto 1fr;
    background: url(./images/bg-pattern-desktop.svg), var(--gradient-1);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 62%;
    margin-inline-start: 10.3125rem;
  }
  header {
    margin-block-start: 4.6819rem;
  }
  aside {
    grid-column: 2;
    grid-row: span 2;
  }
  main {
    max-width: 27.8125rem;
  }
  .wrapper {
    text-align: left;
  }
  .title {
    font-size: var(--fs-64);
    line-height: 4rem;
    letter-spacing: 1.0825rem;
  }
  .title--red {
    line-height: 4.4375rem;
  }
  .description {
    font-size: var(--fs-16);
    line-height: 1.75rem;
  }
  .form__wrapper {
    margin-top: 1.4rem;
  }
  .attribution {
    margin-top: -1.25rem;
  }
}
